* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table-container {
  margin: 2rem 2rem 0;
}

.adduser-section {
  margin: 20px;
}

.adduser-section h1 {
  text-align: center;
}

.adduser-section .item-input {
  width: 100%;
}
